{% extends "main.html" %}
{% block title %}
<title>Trices | About</title>
{% endblock title %}
{% block content %}
<div id="full" class='zoom-div'>
    <section id="ind" class="col-11 m-auto col-lg-10 px-0 pt-5 pt-lg-5 mt-3" data-aos='zoom-in'>
        <div class="ind-box d-flex justify-content-center align-items-center">
            <h1>About us</h1>
        </div>
    </section>
    <section id="info" class="col-lg-10 col-11 m-auto d-flex flex-column ">
        <div class="row">
            <div class="col-lg-6 col-md-12 col-12 d-flex flex-column order-2">
                <div class="info-content ">
                    <h1 class="mb-4" data-aos='fade-right' data-aos-delay='600'>Giving your business some original ideas</h1>
                    <p class='mb-5 mb-lg-3 mb-xl-5' data-aos='fade-left' data-aos-delay='600'>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorem fuga, nulla sint inventore blanditiis veniam architecto facilis suscipit nesciunt reprehenderit! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Adipisci, ad! Lorem ipsum dolor sit amet.
                    </p>
                    <div class="row mb-lg-4">
                        <div class="col-lg-6 col-md-6">
                            <div class="info-flex line">
                                <div class="info-info" data-aos='fade-right'>
                                    <h3>Design first career page builder.</h3>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="info-flex line">
                                <div class="info-info" data-aos='fade-left'>
                                    <h3>Our firm is an expert to creates.</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <div class="info-flex">
                                <div class="info-info" data-aos='fade-right'>
                                    <h3>We connections of organizations.</h3>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="info-flex">
                                <div class="info-info" data-aos='fade-left'>
                                    <h3>We have a tendency to believe.</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-12 col-md-12">
                <div class="info-image d-flex mb-lg-0 mb-4" data-aos='zoom-in' data-aos-delay='300'>
                    {% load static %}
                    <img src="{% static "images/about.png" %}" alt="" class="img-fluid">
                </div>
            </div>
        </div>
    </section>
    <section id="about" class="col-11 col-lg-10 m-auto d-flex flex-column">
        <div class="row">
            <div class="col-lg-6 col-12 d-flex flex-column ">
                <div class="about-content ">
                    <h1 class="mb-xl-5 mb-lg-3 mb-4 " data-aos='fade-right'>We are specialist in both economics.</h1>
                    <p class='mb-5 mb-lg-5' data-aos='fade-left'>we specialize in providing the best insightful analyses and the various strategic solutions that lies in the realm of the economics.
                    </p>
                    <div class=" row d-flex flex-column px-2 flex-lg-row gap-lg-4 mb-4">
                        <div data-aos='fade-left' class="my-3 my-lg-1 about-check col-lg-6 col-md-6 col-12">
                            <div class="py-3 px-4 px-lg-0 gap-lg-2 about-flex d-flex gap-4 gap-xl-4 flex-row align-items-center">
                                <div class="about-icon">
                                    <i class="fa fa-check p-2" aria-hidden="true"></i>
                                </div>
                                <div class="about-info">
                                    <h3 class='p-0 mb-0'>Data Visualization</h3>
                                </div>
                            </div>
                        </div>
                        <div data-aos='fade-left' class="my-3 my-lg-1 about-check col-lg-6 col-md-6 col-12">
                            <div class="py-3 px-4 px-lg-0 gap-lg-2 about-flex d-flex gap-4 gap-xl-4 flex-row  align-items-center">
                                <div class="about-icon">
                                    <i class="fa fa-check p-2" aria-hidden="true"></i>
                                </div>
                                <div class="about-info">
                                    <h3 class='p-0 mb-0'>Big Data</h3>
                                </div>
                            </div>
                        </div>
                        <div data-aos='fade-left' class="my-3 my-lg-1 about-check col-lg-6 col-md-6 col-12">
                            <div class="py-3 px-4 px-lg-0 gap-lg-2 about-flex d-flex gap-4 gap-xl-4 flex-row  align-items-center">
                                <div class="about-icon">
                                    <i class="fa fa-check p-2" aria-hidden="true"></i>
                                </div>
                                <div class="about-info">
                                    <h3 class='p-0 mb-0'>Data Warehousing</h3>
                                </div>
                            </div>
                        </div>
                        <div data-aos='fade-left' class="my-3 my-lg-1 about-check col-lg-6 col-md-6 col-12">
                            <div class="py-3 px-4 px-lg-0 gap-lg-2 about-flex d-flex gap-4 gap-xl-4 flex-row  align-items-center">
                                <div class="about-icon">
                                    <i class="fa fa-check p-2" aria-hidden="true"></i>
                                </div>
                                <div class="about-info">
                                    <h3 class='p-0 mb-0'>Business Intelligence</h3>
                                </div>
                            </div>
                        </div>
                        <div data-aos='fade-left' class="my-3 my-lg-1 about-check col-lg-6 col-md-6 col-12">
                            <div class="py-3 px-4 px-lg-0 gap-lg-2 about-flex d-flex gap-4 gap-xl-4 flex-row  align-items-center">
                                <div class="about-icon">
                                    <i class="fa fa-check p-2" aria-hidden="true"></i>
                                </div>
                                <div class="about-info">
                                    <h3 class='p-0 mb-0'>Data Management</h3>
                                </div>
                            </div>
                        </div>
                        <div data-aos='fade-left' class="my-3 my-lg-1 about-check col-lg-6 col-md-6 col-12">
                            <div class="py-3 px-4 px-lg-0 gap-lg-2 about-flex d-flex gap-4 gap-xl-4 flex-row  align-items-center">
                                <div class="about-icon">
                                    <i class="fa fa-check p-2" aria-hidden="true"></i>
                                </div>
                                <div class="about-info">
                                    <h3 class='p-0 mb-0'>Business Maeketting</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-12">
                <div class="about-image d-flex justify-content-center">
                    {% load static %}
                    <img src="{% static "images/technology.jpg" %}" alt="" class="img-fluid">
                </div>
            </div>
        </div>
    </section>
    <section id="center" class="col-lg-10 col-11 m-auto d-flex flex-column justify-content-center align-items-center ">
        <div class="row  col-12 mb-3 mb-lg-5 d-flex flex-lg-row flex-column">
            <div class="col-lg-6 p-0 col-11 services-information">
                <h1 data-aos='fade-right'>Giving your business some original ideas</h1>
            </div>
            <div class="col-lg-6 p-0 col-11">
                <p class='my-3 my-lg-0 my-xl-3 services-para' data-aos='fade-left'>A cutting-edge IT solution that harnesses the power of the artificial intelligence to instantly diagnose and resolve the various technical issue.</p>
            </div>
        </div>
        <div class="row center-main mb-0 mb-lg-5 d-flex justify-content-between">
            <div class="col-lg-2 col-4 d-flex mb-3 mb-lg-0 justify-content-center p-0">
                <h6 class='text-align-center  py-3'>Appointment</h6>
            </div>
            <div class="col-lg-2 col-4 d-flex mb-3 mb-lg-0 justify-content-center p-0">
                <h6 class='text-align-center  py-3'>Meetup</h6>
            </div>
            <div class="col-lg-2 col-4 d-flex mb-3 mb-lg-0 justify-content-center p-0">
                <h6 class='text-align-center  py-3'>Requirments</h6>
            </div>
            <div class="col-lg-2 col-4 d-flex mb-3 mb-lg-0 justify-content-center p-0">
                <h6 class='text-align-center  py-3'>Reference</h6>
            </div>
            <div class="col-lg-2 col-4 d-flex mb-3 mb-lg-0 justify-content-center p-0">
                <h6 class='text-align-center  py-3'>Project</h6>
            </div>
            <div class="col-lg-2 col-4 d-flex mb-3 mb-lg-0 justify-content-center p-0">
                <h6 class='text-align-center  py-3'>Deploy</h6>
            </div>
        </div>
        <div class="row col-12 mt-4 mt-lg-5">
            <div class="col-lg-6 col-12 center-image mb-lg-0 mb-3 ps-lg-0 pe-lg-3 p-0" data-aos='fade-right'>
                <img src="{% static "images/services-1.jpg" %}" alt="" class="img-fluid">
            </div>
            <div class="col-lg-6 col-12 center-content p-0">
                <h1 class='mb-3' data-aos='fade-right'>Accelerating your information business standards</h1>
                <p data-aos='fade-left'>Empowering the businesses with advanced technology solutions to tackle modern digital challenges and opportunities.</p>
                <div class="center-inner d-flex flex-lg-row flex-column mb-4 mt-4">
                    <div class="center-inner-image mb-3" data-aos='fade-left' data-aos-delay='300'>
                        <img src="{% static "images/center.jpg" %}" alt="" class="img-fluid">
                    </div>
                    <div class="center-inner-content ms-lg-4 ms-0" data-aos='fade-left'>
                        <p>It leverages emerging tech for customized solutions that boost efficiency, productivity, business performance, quality, and business support systems.It leverages emerging tech for customized solutions</p>
                    </div>
                </div>
                <!--<div class="row center-list">
                    <ul>
                        <li>Explore & adopt latest technologies that align with business goals.</li>
                        <li>Continuously adapt solutions methods for evolving tech trends.</li>
                        <li>Plan tech integration aligned with lasting business strategies.</li>
                        <li>Build trust by securing data with robust measures in solutions.</li>
                    </ul>
                </div>-->
                <a href="{% url "contact" %}" class="px-lg-4 py-lg-3 px-4 py-2">CONTACT US <i class="fa fa-angle-right ms-2" aria-hidden="true"></i> </a>
            </div>
        </div>
    </section>
    <section id="team" class="col-lg-10 col-11 m-auto d-flex flex-column justify-content-center align-items-center ">
        <h1 class='text-center mb-5'>meet our specialist</h1>
        <div class="row team-flex mt-3 col-12 d-flex flex-lg-row flex-row justify-content-center gap-5">
            {% for member,details in team_function.items %}
            <div class=" team-box col-lg-4 p-5">
                <img src="{% static "images/" %}{{ details.image }}" alt="" class="img-fluid mb-3">
                <h3 class='mb-3'>{{member}}</h3>
                <h4 class='mb-4'>{{details.role}}</h4>
                <div class="team-social">
                    <a href="#"><i class="fab fa-linkedin " aria-hidden="true"></i></a>
                    <a href="#"><i class="fab fa-github ms-3"  aria-hidden="true"></i></a>
                    <a href="#"><i class="fab fa-instagram ms-3"  aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-envelope ms-3" aria-hidden="true"></i></a>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>
</div>

{% endblock content %}